<?xml version="1.0" encoding="UTF-8" ?>
<templates xml:space="preserve">
    <t t-name="Forum">
        <div class="o_forum_app" t-on-change-screen="_onChangeScreen">
            <Header />
            <t t-if="state.currentScreen === 'forumList'">
                <ForumList />
            </t>
            <t t-elif="state.currentScreen === 'postList'">
                <PostList params="state.params"/>
            </t>
        </div>
    </t>
</templates>