.o_post_list ul {
    list-style: none;
    font-size: 25px;
}
.o_post_list li {
    padding: 10px;
}
.o_post_list li a {
    text-decoration: none;
}
.o_post_list img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}